//run npm install --save-dev  --unsafe-perm node-sass
$font-app: Roboto,'Helvetica Neue',Arial,sans-serif;

.flexbox{
  padding: 32px 0;
  background-color: #235d9f;
  .container{
    background: white;
    border-radius: 6px;
    padding: 0;
    max-width: 380px;
    .card{
      border: none;
      padding: 40px;
      min-height: 700px;
      position: relative;
      box-sizing: inherit;
      .title{
        display: inline-flex;
        h3{
          margin-inline-start: 60px;
          font-size: 24px;
          text-align: center;
          position: relative;
          margin-bottom: 40px;
          margin-top: 0;
          box-sizing: inherit;
        }
        #back-button{
          .anticon{
            svg{
              height: 24px;
              width: 24px;
            }
          }
        }
      }
      .card-body{
        padding: 0;
        .card-tittle{
          font-size: 20px;
          line-height: 24px;
        }
        p{
          font-family: $font-app;
          font-size: 14px;
          //margin-bottom: 0;
        }
        #pass{
          height: auto;
          #radio-group{
            border-style: solid;
            border-color: rgb(27, 160, 226);
            border-width: 1px;
            border-radius: 6px;
            color: rgb(3, 18, 26);
            background: rgb(236, 248, 255);
            padding: 16px;
            .ant-radio-group{
              #text{
                margin-bottom: 0;
              }
            }
          }
          .ant-row{
            margin-top: 16px;
            .ant-col{
              label{
                width: 300px;
                height: 20px;
                padding-top: 10px;
                color: #3C4D65;
                font-size: 14px;
                &::before{
                  content: none;
                }
              }
              .ant-form-item-control-input{
                .ant-form-item-control-input-content{
                  #button-password{
                    background: #FF5E1F;
                    padding: 8px 12px;
                    border-radius: 6px;
                    border-width: 0;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 24px;
                    box-sizing: border-box;
                    height: 41px;
                    margin-top: 16px;
                  }
                }
              }
            }
          }
        }
        
      }
    }
  }
}