//run npm install --save-dev  --unsafe-perm node-sass
$font-app: Roboto,'Helvetica Neue',Arial,sans-serif;
.App{
  background-color: #235d9f;
  font-family: $font-app;
}
*{
  box-sizing: border-box;
  padding: 0;
  font-family: $font-app;
}
body{
  background-color: #235d9f;
}
.flexbox{
  padding: 32px 0;
  .container{
    background: white;
    border-radius: 6px;
    padding: 0;
    max-width: 380px;
    .card{
      border: none;
      padding: 40px;
      min-height: 700px;
      position: relative;
      box-sizing: inherit;
      h3{
        font-size: 24px;
        text-align: center;
        position: relative;
        margin-top: 8px;
        margin-bottom: 60px;
        box-sizing: inherit;
      }
      .card-body{
        padding: 0;
        .card-tittle{
          font-size: 20px;
          line-height: 24px;
        }
        .card-text{
          color: #687176;
          margin: 0;
        }
        p{
          font-family: $font-app;
          font-size: 14px;
        }
        #basic{
          height: 237px;
          .ant-row{
            margin-bottom: -7px;
            margin-top: 16px;
            .ant-col{
              label{
                width: 300px;
                height: 20px;
                padding-top: 10px;
                color: #3C4D65;
                font-size: 14px;
                &::before{
                  content: none;
                }
              }
              .ant-form-item-control-input{
                .ant-form-item-control-input-content{
                  #button-submit{
                    background: #FF5E1F;
                    padding: 8px 12px;
                    border-radius: 6px;
                    border-width: 0;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 24px;
                    box-sizing: border-box;
                    height: 41px;
                  }
                }
              }
            }
          }
        }
        .line-spacing{
          font-size: 14px;
          margin-top: 16px;
          margin-bottom: 16px;
          width: 100%;
          border-bottom: 1px dashed #d9dfe8;
        }
        .icon{
          -webkit-box-pack: justify;
          display: flex;
          justify-content: space-between;
          a{
            display: flex;
            flex: 1;
            padding-right: 30px;
            img{
              width: 135px;
              height: 40px;
            }
          }
        } 
      }
    }
  }
}